name: Asana Task Title Updater

on:
  schedule:
    - cron: '*/15 * * * *'  # Every 15 minutes
  workflow_dispatch:        # Allow manual trigger

jobs:
  run-script:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.x'

      - name: Install dependencies
        run: pip install -r requirements.txt

      - name: Run updater
        run: python main.py
        env:
          ASANA_PAT: ${{ secrets.ASANA_PAT }}
          PROJECT_ID: ${{ secrets.PROJECT_ID }}
